/* Don't create too much css in this folder. css should put inside component or use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dynamic change by js. It is a fallback */
  --app-height: 100vh;
}

@layer base {

  html,
  body {
    -webkit-overflow-scrolling: touch;
  }

  body {
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;

    background: #2f2f2f;
  }
}

/** 
  Docs for why layer https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
  In short, layer is a way to organize your css. So that you can override it easily
*/
@layer components {
  .arta-container-px {
    @apply px-6 lg:px-24;
  }

  .arta-container {
    @apply arta-container-px w-full max-w-main-contain;
  }

  .list {
    @apply mt-7 flex h-[158px] w-[158px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }

  .activeList {
    @apply flex h-[220px] w-[220px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }

  .innerShadow {
    box-shadow: inset 0 0 14px 6px #8b653c;
    background: rgba(198, 147, 84, 0.2);
  }

  @media (max-width: 1024px) {
    .innerShadowMobile {
      box-shadow: inset 0px 4px 30px #C69354;
      background: rgba(198, 147, 84, 0.2);
    }
  }

 .homes{
  width:70%;
  @media only screen and (max-width: 767px) {
    width: 99%;
  }
 }

 .person_lf{
  padding-left: 20%;
  padding-right: 20%;
  @media only screen and (max-width: 767px) {
    padding-left: 2%;
    padding-right: 2%;
  }
 }

 .top-text{
  font-size: 22px;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
 }

 .x-navbar-wrap{
  
 }


  .logo-home {
    width: 180px;
    height: 70px;

    @media only screen and (max-width: 767px) {
      width: 160px;
      height: 60px;
    }
  }

  .trade-tips-form {
    padding-left: 10%;
    padding-right: 10%;

    @media only screen and (max-width: 767px) {
      padding-left: 3%;
      padding-right: 3%;
      width: 94%;
    }
  }

  .ss-trade-tips-form {
    padding-left: 20%;
    padding-right: 20%;

    @media only screen and (max-width: 767px) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .deposit-controll-image {
    width: 30%;
    height: 30%;
  }

  .headerTop_img {
    height: auto;
    width: auto;
  }

  .easeInOutSine {
    transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  }

  .animation {
    animation: slidein 0.3s linear forwards;
  }

  @keyframes slidein {
    from {
      top: -100%;
    }

    to {
      top: 0;
    }
  }

  #fullpage {
    @apply will-change-transform;
  }

  .arta-transition-fix {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    @apply will-change-transform;
  }

  .arta-hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .arta-hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .securities-grip {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .arta-eventItem:first-child {
    padding-top: 0;
  }

  .arta-eventItem:last-child {
    border: none;
    padding-bottom: 0;
  }

  .arta-gradient-border {
    padding: 2px;
    border-radius: 0 64px;
  }

  .arta-gradient-border>div {
    border-radius: 0 62px;
  }

  .arta-gradient-border-inner {
    position: absolute;
    inset: -600px;
    z-index: 0;
    background-image: linear-gradient(248.41deg, #9A7B49 3.4%, #8C7035 31.07%, #ECC962 46.16%, #AD9149 63.27%, #9A7B49 100%);
    ;
    border-radius: 0 64px;
  }

  .arta-gradient-line-left {
    width: 1px;
    background-image: linear-gradient(89.57deg, #E3D29A 0.19%, #AE8D55 52.49%, #D4BF87 99.62%);
  }
}

.module-text-section ul,
.module-etg-text-section ul,
.job-description ul,
.blog-content ul {
  padding-left: 28px;
  list-style: disc;
  margin-top: 12px;
  margin-bottom: 24px;
}

.module-text-section ul li,
.job-description ul li,
.blog-content ul li {
  @apply font-Verah text-[1rem] leading-[1.5rem] tracking-wide;
  margin-top: 12px;
}

.module-text-col-list ul {
  list-style: disc;
  padding-left: 1.25rem;
  margin-top: 16px;
}

.module-etg-text-section p,
.module-text-col-list p,
.blog-content p {
  @apply mt-3;
}

.blog-content h2 {
  @apply font-Verah lg:text-[4.25rem] text-[3rem] leading-[3.75rem] lg:leading-[5rem] tracking-wide;
}

.blog-content h3 {
  @apply font-Verah text-[2.25rem] lg:text-[3rem] lg:leading-[3.75rem] leading-[3rem] tracking-wide;
}

.blog-content h4 {
  @apply font-Verah md:text-[2.25rem] text-[2rem] md:leading-[2.875rem] leading-[2.5rem];
}

.module-text-col-list p,
.module-text-col-list li,
.blog-content p,
.blog-content li {
  @apply text-[1rem] mb-3;
}

.module-text-col-list h1,
.module-text-col-list h2,
.module-text-col-list h3,
.module-text-col-list h4 {
  @apply pt-6 border-black border-t;
}

/* .module-text-col-list h1:first-of-type,
.module-text-col-list h2:first-of-type,
.module-text-col-list h3:first-of-type,
.module-text-col-list h4:first-of-type {
  border-top: none;
} */

.module-etg-text-section h3,
.module-etg-text-section h4,
.job-description h3,
.job-description h4,
.module-text-col-list h1,
.module-text-col-list h2,
.module-text-col-list h3,
.module-text-col-list h4 {
  @apply mt-4 text-arta-sand-100 font-Verah md:text-[1.5rem] text-xl leading-[2rem];
}

.animatedSpotLight1 {
  background: radial-gradient(circle, rgb(196, 146, 96) 0%, rgba(53, 29, 14, 0) 70%);
  opacity: 0.4;
  top: 20vh;
  left: 50vh;
}

.animatedSpotLight2 {
  background: radial-gradient(circle, rgba(196, 146, 96, 0.7) 0%, rgba(53, 29, 14, 0) 70%);
  transform-origin: -2%;
  top: 20vh;
  left: 50vh;
}

@media (min-width: 768px) {
  .animatedSpotLight1 {
    animation: gradientSpot1 55s ease infinite;
  }

  .animatedSpotLight2 {
    animation: gradientSpot2 75s ease infinite;
  }
}

@keyframes gradientSpot1 {
  0% {
    top: 100vh;
    left: -50vh;
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    top: -200vh;
    left: 130vh;
    opacity: 1;
  }
}

@keyframes gradientSpot2 {
  0% {
    opacity: 0.6;
    transform: rotate(-160deg);
  }

  80% {
    opacity: 0.5;
    transform: rotate(0deg);
  }

  100% {
    opacity: 0.6;
    transform: rotate(200deg);
  }
}

.our-eco .swiper-slide {
  @apply pt-[20px] md:pt-[30px] lg:pt-[40px];
}

.ss-container {
  @apply bg-arta-sand-100/70 text-arta-snow-100 transition;
  transform: scale(0.9);
}

.ss-circle {
  @apply lg:h-16 lg:w-16;
}

.swiper-slide-active .ss-container {
  @apply bg-arta-eggshell-100 text-arta-sand-100 transform scale-[1.05] md:scale-[1.2];
}

.swiper-slide-active .ss-circle {
  @apply lg:h-20 lg:w-20;
}

.home-background-gradient {
  background: linear-gradient(0deg, rgba(14, 28, 45, 0) 0%, rgb(66, 66, 66) 49%);
}

.about-background-gradient {
  background: linear-gradient(180deg, rgba(14, 28, 45, 0) 0%, rgb(66, 66, 66) 49%);
}

.blog-content img {
  @apply w-full md:w-4/5 lg:w-3/5;
  margin: 0 auto;
}

.our-eco .swiper {
  padding-top: 80px;
}

.our-eco .swiper-slide {
  @apply transition-all;
}

.our-eco .swiper-slide.swiper-slide-active {
  transform: translateY(-70px) scale(1.12);
}

.our-eco .swiper-slide.swiper-slide-active .ss-container {
  @apply shadow-xl;
}

.our-eco .swiper-slide.swiper-slide-prev {
  @apply translate-y-[-40px] translate-x-[-20px];
}

.our-eco .swiper-slide.swiper-slide-next {
  @apply translate-y-[-40px] translate-x-[20px];
}

.our-eco .swiper-slide.swiper-slide-prev,
.our-eco .swiper-slide.swiper-slide-next {
  @apply transform;
}

input[type="checkbox"] {
  accent-color: #593725;
}

.arta-leadership-slide .slider-length-1 {
  display: none;
}

@media (max-width: 575px) {}

.group-hover-bg-arta-sand-100:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: -2;
  @apply bg-arta-sand-100;
}

.group-hover-bg-arta-black:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: -2;
  @apply bg-arta-black;
}

.group-hover-bg-arta-p4-eggshell:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #A89689;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: -2;
}

.group-hover-bg-arta-black:hover:before,
.group-hover-bg-arta-sand-100:hover:before,
.group-hover-bg-arta-p4-eggshell:hover:before {
  width: 100%;
}

.group-hover-bg-arta-sand-100:hover {
  color: #FFFFFF;
}

.group-hover-bg-arta-p4-eggshell:hover {
  @apply text-arta-sand-100;
  border-color: #A89689;
}

.group-hover-bg-arta-black:hover {
  @apply text-white;
  @apply border-arta-black
}

.arta-leadership-slide .swiper-button {
  color: rgb(66, 66, 66)
}

.arta-leadership-slide .swiper-button-disabled {
  color: #DED7D3;
}

.banner-text-shadow {
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.36);
}

#home-our-business .swiper-slide-active .cta-btn {
  display: block !important;
}

/* artazine page */
.arta-app-page {
  font-family: "Untitled Sans";
}

.app-download-bg {
  background: url(/images/our-businesses/artazine/download.png) no-repeat;
  background-size: contain;
}

.app-download-slide {
  background: url(/images/our-businesses/artazine/home.png) no-repeat;
  background-size: 100%;
}

.app-download-slide2 {
  background: url(/images/our-businesses/artazine/nft.png) no-repeat;
  background-size: 100%;
}

.app-download-slide3 {
  background: url(/images/our-businesses/artazine/features.png) no-repeat;
  background-size: 100%;
}

.app-download-slide4 {
  background: url(/images/our-businesses/artazine/statistics.png) no-repeat;
  background-size: 100%;
}

.mode-default-btn {
  white-space: nowrap;
  transition: 0.2s;
}

.mode-default-btn:hover {
  @apply bg-arta-black;
  @apply text-white;
}

.arta-app-page .swiper-button-disabled {
  opacity: .3;
  cursor: default;
}

/* .fp-is-overflow:not(.active) #break-barriers video{
  opacity: 0;
} */

.whitespace-breakspace {
  white-space: pre;
  white-space: break-spaces;
}

input[type=checkbox] {
  @apply transform scale-[1.4] w-[24px] lg:scale-[1];
}

header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) -87.84%, rgba(208, 200, 192, 0) 100%);
}

@media (max-width: 1024px) {
  header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) -59.37%, rgba(222, 215, 211, 0) 100%);
  }
}

.etg-outline {
  outline: 2px solid rgba(154, 137, 123, 0.6);
}

.left-div {
  float: left;
  width: 100px;
  height: 50px;
  margin-top: 0px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 50px;
  margin-top: 100px;
}

.right-div {
  float: right;
  width: 100px;
  height: 50px;
  margin-top: 0px;
}

.arta-gm-footer {
  background-color: rgb(66, 66, 66)
}

.about-us-profile-backgroumd {
  background: url(/images/about/211025_image_aboutus_contactus_banner.png) no-repeat;
  /* background-size: 300px; */
  width: 100%;
  height: 100%;

}

#container {
  background: url(/images/about/211025_image_aboutus_contactus_banner.png) no-repeat;
  background-size: cover;
  padding: 35px;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: normal;
  text-align-last: left;
  color: white;
}

#container .imgbox {
  height: 216px;
  width: 10px;
}

#container img {
  position: absolute;
  /*设为绝对定位*/
  opacity: 0.7;
  /*设置透明度*/
}

#container lable {
  width: inherit;
  text-align: right;
  font-size: 20px;
  color: white;
  position: absolute;
  /*设为绝对定位*/
}

.arta-about-box1 {
  background-color: #FFFFFF;
  float: left;
  width: 50%;
  padding: 45px 5% 5%;
  padding: 50px;
  height: auto;

}

.arta-about-box {
  background-color: rgb(20, 41, 77);
  float: right;
  width: 50%;
  padding: 30px 5% 5%;
  opacity: 1;
  transform: translate(0px, 0px);
  height: auto;
}

.arta-about-box h3 {
  border-top-width: 30px;
  border-top-color: rgb(20, 41, 77);
  color: white;
  font-size: 27px;
}

.arta-about-box p {
  color: white;
  font-size: 22.5px;

}

.arta-about-box1-font {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: hsl(0, 0%, 54%);
  margin-block-start: 1em;
  display: block;
  margin-block-end: 1em;
  margin: 0 0 0.2em;
}

.arta-about-clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.arta-about-box-content-list {
  display: table-cell;
  vertical-align: middle;
}

.join_us_backgroud {
  padding: 2% 15% 2% 15%;
  background-color: hsl(0, 0%, 94%);

  @media only screen and (max-width: 767px) {
    padding: 1% 1% 1% 1%;
    ;
  }
}

.join_us_backgroud-1 {
  margin-left: 1%;
  border-left-color: hsl(0, 0%, 94%);
  margin-top: 10px;
  margin: 0px auto;
  padding: 0px;
  height: auto;
  font-size: 35px;
}

.join_us_sub_box {
  background-color: rgb(136, 136, 136);
  height: auto;
}

.join_us_sub_title-1 {
  margin-left: 1%;
  border-top-color: rgb(136, 136, 136);
  ;
  border-top-width: 10px;
  height: 50px;
  font-size: 22.5px;
  color: rgb(255, 255, 255);
}

.join_us_sub_des-1 {
  background-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-left-width: 30px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-block-start: 1em;
  display: block;
  margin-block-end: 1em;
  margin: 0 0 0.2em;
}

.contact-box-1 {
  background-color: #FFFFFF;
  float: left;
  width: 50%;
  padding: 45px 5% 5%;
  padding: 50px;
  height: 950px;
}

.contact-box-1-input {
  border: rgb(51, 51, 51);
  box-sizing: content-box;
  width: 90%;
  height: 50px;
  display: inline-block;
  border-style: solid;
  border-left-width: 0.7px;
  border-right-width: 0.7px;
  border-top-width: 0.7px;
  border-bottom-width: 0.7px;
  border-bottom-style: solid;
}

.contact-form-fix {
  padding-left: 50px;

  @media only screen and (max-width: 767px) {
    padding-left: 2%;
  }
}

.contact-box-1-max2 {
  border: rgb(51, 51, 51);
  box-sizing: content-box;
  width: 90%;
  height: 250px;
  display: inline-block;
  border-style: solid;
  border-left-width: 0.7px;
  border-right-width: 0.7px;
  border-top-width: 0.7px;
  border-bottom-width: 0.7px;
  border-bottom-style: solid;
}

.contact-box {
  background-color: #FFFFFF;
  float: right;
  width: 50%;
  padding: 30px 5% 5%;
  opacity: 1;
  transform: translate(0px, 0px);
  height: 950px;
}

.contact-box-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #8b653c;
}

#business-overview-bd {
  background: url(/images/about/map4.jpg) no-repeat;
  background-size: cover;
  padding: 35px;
  letter-spacing: normal;
  color: white;
}

.business-overview-1 {
  padding-top: 50px;
  margin: 0px;
  text-align: center;
  font-size: 60px;
  background: none;
}

.business-overview-1-font {
  text-align: center;
}

.business-overview-clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.business-overview-box {
  /* border-width: 100px; */
  height: 200px;
  background: none;
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 50px;
  padding-bottom: 50px;
}

.business-overview-box-font {
  font-size: 1rem;
  font-style: normal;
  color: white;
}

#container_futures {
  background: url(/images/products/211025_image_product_futures_banner-1.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 100px;
  letter-spacing: normal;
  color: rgb(150, 150, 150);
}

#futures_text_1 {
  background: url(/images/products/211025_image_product_futures_bg_02.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 100px;
  letter-spacing: normal;
  color: rgb(150, 150, 150);
}

#services-charges-bd {
  background: url(/images/customers-services/211025_image_service_fee_banner.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 100px;
  letter-spacing: normal;
  color: white;
}

#services-charges-list {
  background-color: white;
  height: auto;
  padding-left: 20%;
  padding-top: 30px;
  padding-right: 10%;
  letter-spacing: normal;
  color: black;
  font-size: 35px;

  @media only screen and (max-width: 767px) {
    padding-left: 5%;
  }
}

.fur-button {
  margin: 0 auto;
  border: 2px solid black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fur-wrap {
  display: flex;
  align-items: center;
}

.fur-wrap-text {
  flex-wrap: wrap;
  align-content: center;
}

.fur-wrap img {
  width: 100px;
  height: auto;
  vertical-align: middle;
}

#futures_adv_1 {
  background: url(/images/products/211025_image_product_futures_bg_03.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 100px;
  letter-spacing: normal;
  color: rgb(150, 150, 150);
  align-items: center;
  font-size: 25px;
}

#contact-bd {
  background: url(/images/contact-us/211025_image_aboutus_companyinfo_banner.png) no-repeat;
  background-size: cover;
  height: 200px;
  padding: 35px;
  letter-spacing: normal;
  color: rgb(99, 78, 37);

  @media only screen and (max-width: 767px) {
    padding-top: 20px;
    padding-left: 2%;
  }
}

#securities-tm {
  background-color: white;
  width: 100%;
  height: auto;
  letter-spacing: normal;
}

#securities-bm1 {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 12%;
  background-color: rgb(136, 136, 136);
  width: 76%;
  height: auto;
  letter-spacing: normal;
  color: white;
}

#securities-wm {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 12%;
  background-color: rgb(136, 136, 136);
  width: 76%;
  height: auto;
  letter-spacing: normal;
  color: white;
}

.securities-trade-top-box {
  left: 10%;
  width: 80%;

  @media only screen and (max-width: 767px) {
    left: 2%;
    width: 96%;
  }
}

#securities-trade-box {
  position: relative;
  left: 10%;
  width: 80%;
  height: auto;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 10px;

  @media only screen and (max-width: 767px) {
    padding: 20px;
    left: 2%;
    width: 96%;
  }
}

#securities-note-box {
  position: relative;
  left: 10%;
  width: 80%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
}

#securities-bd {
  background: url(/images/products/securities2.jpg) no-repeat;
  background-size: 100% 100%;
  height: 500px;
  padding: 100px;
  letter-spacing: normal;
  color: white;
}

#securities-hr {
  border: 0;
  padding-top: 2px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

.securities-gap-hr {
  border: 0;
  padding-top: 20px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

.securities-clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.securities-box {
  /* border-width: 100px; */
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 50px;
  padding-bottom: 50px;
}

#securities-bd-text {
  background: url(/images/products/ses.png) no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: auto;
  letter-spacing: normal;
}

.contact-1 {
  padding-top: 30px;
  padding-left: 30px;
  margin: 0px;
  text-align: left;
  font-size: 60px;
  background: none;
}

.wrap {
  width: 95%;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
}

#impo-notices-bd {
  background: url(/images/customers-services/important_notices.jpg) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 60px;
  padding-left: 100px;
  letter-spacing: normal;
  color: white;
  font-size: 60px;
}

#notice-bd {
  background-color: rgb(244, 241, 225);
  background-size: 100% 100%;
  height: auto;
  padding: 60px;
  padding-left: 100px;
  letter-spacing: normal;
  color: white;
  font-size: 60px;

  @media only screen and (max-width: 767px) {
    padding-left: 5%;
    padding: 20px;
  }
}

.white-pic {
  height: 100px;

  @media only screen and (max-width: 767px) {
    height: 40px;
  }
}

.deposit-bank-fix {
  padding-left: 5%;
  padding-right: 10%;

  @media only screen and (max-width: 767px) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.leaning-ratio {
  padding-right: 20%;

  @media only screen and (max-width: 767px) {
    padding-right: 5%;
  }
}

#fund-deposits-bank-bd {
  background: url(/images/customers-services/211025_image_service_deposit_insidepages_banner.png) no-repeat;
  background-size: cover;
  height: 200px;
  padding: 60px;
  letter-spacing: normal;
  color: white;
}

#new-stock-bd {
  background: url(/images/customers-services/211025_image_service_stock_banner.png) no-repeat;
  background-size: cover;
  height: 200px;
  padding: 35px;
  letter-spacing: normal;
  color: white;
}

#fund_deposits-bd {
  background: url(/images/customers-services/211025_image_service_deposit_banner.png) no-repeat;
  background-size: cover;
  height: 200px;
  padding: 35px;
  letter-spacing: normal;
  color: white;
}

.fund_deposits-box1 {
  background-color: #FFFFFF;
  float: left;
  width: 50%;
  padding: 45px 5% 5%;
  padding: 50px;
  height: auto;
  text-align: center;
}

.fund_deposits-box {
  background-color: #FFFFFF;
  float: right;
  width: 50%;
  padding: 45px 5% 5%;
  opacity: 1;
  transform: translate(0px, 0px);
  height: auto;
  text-align: center;
}

.fund_deposits-container {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.fund_deposits-text {
  position: relative;
}

.fund_deposits-text-h1 {
  font-size: 15px;
  flex-direction: row;
  align-items: center;
}

.fund_deposits_textbutton {
  font-size: 20px;
  flex-direction: row;
  align-items: center;
}

.fund_deposits-item {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;

  .fund_deposits-item-h2 {
    display: none;
  }

  .fund_deposits_button_1 {
    display: none;
  }
}

.fund_deposits-item-h1 {
  font-size: 20px;
  padding-left: 30%;
}

.fund_deposits-item-m1 {
  font-size: 15px;
  padding-left: 15%;
}

.fund_deposits-item-max1 {
  width: 100px;
  padding-left: 15%;
}

.fund_deposits_button_1 {
  font-size: 20px;
}

.fund_deposits-item-h2 {
  font-size: 20px;
  padding-top: 100px;
  padding-left: 30%;
}

.fund_deposits-div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 200px;
  transform: rotateY(180deg);
}

.fund_deposits-container:hover .fund_deposits-item {
  transform: rotateY(180deg);

  .fund_deposits-item-h1 {
    display: none;
  }

  .fund_deposits-item-m1 {
    display: none;
  }

  .fund_deposits-img {
    display: none;
  }

  .fund_deposits-item-h2 {
    display: block;
  }

  .fund_deposits_button_1 {
    display: block;
  }
}

#products-info-bd {
  background: url(/images/customers-services/654.jpg) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 60px;
  padding-left: 10%;
  letter-spacing: normal;
  color: white;
  font-size: 60px;
}

.product-info-box1 {
  background-color: #FFFFFF;
  float: left;
  width: 50%;
  padding: 45px 5% 5%;
  padding: 50px;
  padding-left: 15%;
  height: 300px;
}

.product-info-box {
  background-color: #FFFFFF;
  float: right;
  width: 50%;
  padding: 45px 5% 5%;
  opacity: 1;
  transform: translate(0px, 0px);
  height: 300px;
}

.info_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#loan-ratio-bd {
  background: url(/images/info/211025_image_service_ratio_banner.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 60px;
  padding-left: 10%;
  letter-spacing: normal;
  color: white;
  font-size: 60px;
}

#form-download-bd {
  background: url(/images/customers-services/info.jpg) no-repeat;
  background-size: 100% 100%;
  background-color: white;
  height: auto;
  padding: 40px;
  padding-left: 5%;
  letter-spacing: normal;
  color: white;
  font-size: 60px;
}


#qna-bd {
  background: url(/images/customers-services/211025_image_service_qna_banner.png) no-repeat;
  background-size: 100% 100%;
  background-color: white;
  height: auto;
  padding: 40px;
  padding-left: 5%;
  letter-spacing: normal;
  color: white;
  font-size: 60px;
}

.form-wrap {
  width: 80%;
  background: white;
  display: flex;
}

.qa-box {
  /* border-width: 100px; */
  height: 200px;
  background: none;
  float: left;
  width: 33.33%;
  padding: 50px;
  padding-left: 10%;
  padding-bottom: 50px;
}
.qa-min-box{
  @media only screen and (max-width: 767px) {
    width: 150%;
  }
}

.qa-open-account-left {
  float: left;
  width: 200px;
  height: auto;
  min-height: 220px;
  background-color: white;
  justify-content: space-between;
}

.qa-open-account-right {
  margin-left: 200px;
  /* 大于或等于左列的宽度 */
  height: auto;
  min-height: 220px;
  background-color: white;
  border: 1px solid grey;
  box-sizing: border-box;
}

#account-security-bd {
  background: url(/images/customers-services/211025_image_service_security_banner.png) no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding: 100px;
  letter-spacing: normal;
  color: white;
  font-size: 60px;
}

.footer-box {
  height: auto;
  background: none;
  text-align: center;
  float: left;
  width: 25%;
  padding: 50px;
  padding-bottom: 50px;
}

.statement-style {
  margin: 0 auto;
  background-color: white;
  border: red;
  padding: 1%;
  border-style: solid;
}

#homepage-bd {
  background: url(/images/artagm_homepage_banner_02.jpg) no-repeat;
  background-size: 100% 100%;
  height: 600px;
  padding: 100px;
  padding-top: 200px;
  letter-spacing: normal;
  color: white;
  font-size: 60px;

  @media only screen and (max-width: 767px) {
    padding-left: 5%;
  }

}

.company-des {
  padding: 20px 5% 5%;
  color: white;

  @media only screen and (max-width: 767px) {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 20px;
  }

}

.contact-form1 {
  width: 70%;
}

.contact-form2 {
  width: 20%;
}

#contact-us-form {
  #contact-us-form1 {
    width: 70%;
  }

  @media screen and (max-width: 800px) {
    display: none;

    #contact-us-form1 {
      @apply contact-form1
    }

    #contact-us-form2 {
      @apply contact-form2
    }
  }
}