/* Don't create too much css in this folder. css should put inside component or use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #2f2f2f;
  }
}

/** 
  Docs for why layer https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
  In short, layer is a way to organize your css. So that you can override it easily
*/
@layer components {
  .arta-container-px {
    @apply px-6 md:px-24;
  }
  .arta-container {
    @apply arta-container-px w-full max-w-main-contain;
  }

  .list {
    @apply mt-7  flex h-[158px] w-[158px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }
  .activeList {
    @apply flex h-[220px] w-[220px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }
  .innerShadow {
    box-shadow: inset 0 0 14px 6px #8b653c;
  }

  .easeInOutSine {
    transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  }

  .animation {
    animation: slidein 0.3s linear forwards;
  }
  @keyframes slidein {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
}
