/* Don't create too much css in this folder. css should put inside component or use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dynamic change by js. It is a fallback */
  --app-height: 100vh;
}

@layer base {
  html,
  body {
    -webkit-overflow-scrolling: touch;
  }

  body {
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;

    background: #2f2f2f;
  }
}

/** 
  Docs for why layer https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
  In short, layer is a way to organize your css. So that you can override it easily
*/
@layer components {
  .arta-container-px {
    @apply px-6 lg:px-24;
  }
  .arta-container {
    @apply arta-container-px w-full max-w-main-contain;
  }

  .list {
    @apply mt-7  flex h-[158px] w-[158px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }
  .activeList {
    @apply flex h-[220px] w-[220px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }
  .innerShadow {
    box-shadow: inset 0 0 14px 6px #8b653c;
  }

  @media (max-width: 1024px) {
    .innerShadowMobile {
      box-shadow: inset 0px 4px 30px #C69354;;
    }
  }

  .easeInOutSine {
    transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  }

  .animation {
    animation: slidein 0.3s linear forwards;
  }
  @keyframes slidein {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }

  #fullpage {
    @apply will-change-transform;
  }

  .arta-transition-fix {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    @apply will-change-transform;
  }

  .arta-hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .arta-hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .arta-eventItem:first-child {
    padding-top: 0;
  }

  .arta-eventItem:last-child {
    border: none;
    padding-bottom: 0;
  }

  .arta-gradient-border {
    padding: 2px;
    border-radius: 0 64px;
  }

  .arta-gradient-border>div {
    border-radius: 0 62px;
  }

  .arta-gradient-border-inner {
    position: absolute;
    inset: -600px;
    z-index: 0;
    background-image: linear-gradient(248.41deg, #9A7B49 3.4%, #8C7035 31.07%, #ECC962 46.16%, #AD9149 63.27%, #9A7B49 100%);;
    border-radius: 0 64px;
  }

  .arta-gradient-line-left {
    width: 1px;
    background-image: linear-gradient(89.57deg, #E3D29A 0.19%, #AE8D55 52.49%, #D4BF87 99.62%);
  }
}

.module-text-section ul,
.module-etg-text-section ul,
.job-description ul,
.blog-content ul {
  padding-left: 28px;
  list-style: disc;
  margin-top: 12px;
  margin-bottom: 24px;
}

.module-text-section ul li,
.job-description ul li,
.blog-content ul li {
  @apply font-Verah text-[1rem] leading-[1.5rem] tracking-wide;
  margin-top: 12px;
}

.module-etg-text-section p,
.module-text-col-list p,
.blog-content p {
  @apply mt-3;
}

.module-text-col-list p,
.blog-content p {
  @apply text-[1rem] mb-6;
}
.module-text-col-list h1,
.module-text-col-list h2,
.module-text-col-list h3,
.module-text-col-list h4 {
  @apply pt-6 border-black border-t;
}

/* .module-text-col-list h1:first-of-type,
.module-text-col-list h2:first-of-type,
.module-text-col-list h3:first-of-type,
.module-text-col-list h4:first-of-type {
  border-top: none;
} */

.module-etg-text-section h3,
.module-etg-text-section h4,
.job-description h3,
.job-description h4,
.module-text-col-list h1,
.module-text-col-list h2,
.module-text-col-list h3,
.module-text-col-list h4 {
  @apply mt-4 text-arta-sand-100 font-Verah md:text-[1.5rem] text-xl leading-[2rem];
}

.animatedSpotLight1 {
  background: radial-gradient(circle, rgb(196, 146, 96) 0%, rgba(53,29,14,0) 70%);
  opacity: 0.4;
	top: 20vh;
	left: 50vh;
  animation: gradientSpot1 55s ease infinite;
}

.animatedSpotLight2 {
  background: radial-gradient(circle, rgba(196, 146, 96, 0.7) 0%, rgba(53,29,14,0) 70%);
  transform-origin: -2%;
	top: 20vh;
	left: 50vh;
  animation: gradientSpot2 75s ease infinite;
}

@keyframes gradientSpot1 {
	0% {
    top: 100vh;
		left: -50vh;
    opacity: 0;
	}
  50% {
    opacity: 0.4;
	}
	100% {
    top: -200vh;
		left: 130vh;
    opacity: 1;
	}
}

@keyframes gradientSpot2 {
	0% {
    opacity: 0.6;
    transform: rotate(-160deg);
	}
  80% {
    opacity: 0.5;
    transform: rotate(0deg);
	}
	100% {
    opacity: 0.6;
    transform: rotate(200deg);
	}
}

.our-eco .swiper-slide {
  padding-top: 20px;
}

.ss-container {
  @apply bg-arta-sand-100/70 text-arta-snow-100 transition;
  transform: scale(0.9);
}

.ss-circle {
  @apply lg:h-16 lg:w-16;
}

.swiper-slide-active .ss-container {
  @apply bg-arta-eggshell-100 text-arta-sand-100;
  transform: scale(1.1);
}

.swiper-slide-active .ss-circle {
  @apply lg:h-20 lg:w-20;
}

.home-background-gradient {
  background: linear-gradient(0deg, rgba(14,28,45,0) 0%, rgba(53,30,14,1) 49%);
}

.about-background-gradient {
  background: linear-gradient(180deg, rgba(14,28,45,0) 0%, rgba(60,37,22,1) 49%);
}

.blog-content img {
  margin: 0 auto;
}

.our-eco .swiper {
  padding-top: 80px;
}

.our-eco .swiper-slide {
  @apply transition-all;
}

.our-eco .swiper-slide.swiper-slide-active {
  transform: translateY(-70px) scale(1.12);
}

.our-eco .swiper-slide.swiper-slide-active .ss-container {
  @apply shadow-xl;
}

.our-eco .swiper-slide.swiper-slide-prev {
  @apply translate-y-[-40px] translate-x-[-20px];
}

.our-eco .swiper-slide.swiper-slide-next {
  @apply translate-y-[-40px] translate-x-[20px];
}

.our-eco .swiper-slide.swiper-slide-prev,
.our-eco .swiper-slide.swiper-slide-next {
  @apply transform;
}